<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    <h1>Upload Photos</h1>
    <form id="uploadForm" enctype="multipart/form-data">
        <input type="file" id="inputFiles" accept="image/*" multiple required/>
        <select name="processing" id="processing" required>
            <option value="" disabled selected>Choose processing</option>
            <option value="all">All</option>
            <option value="grayscale"> Grayscale</option>
            <option value="resize">Resize to half</option>
            <option value="sharpen">Sharpen</option>
            <option value="blur">Blur</option>
        </select>
        <button type="submit">Upload</button>
    </form>
    <h2></h2>
    <h3></h3>
    <p></p>

    <div id="imagelist">
        
    </div>

    <script type="text/javascript" src="/javascripts/imageUpload.js"></script>
</body>
</html>